.HomeTop {
  width: 100%;
  .menu .logo {
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu {
    width: 100%;
    display: flex;
  }
  .ant-layout-header {
    padding: 0;
  }
  .menu .ant-menu-item {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .menu .ant-menu-submenu {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
